doctype html
html
  head
    title Login
  body
    if error
      p(style='color:red') #{error}
    form(action='/auth/login' method='POST')
      label Email: 
      input(type='email' name='email')
      br
      label Password: 
      input(type='password' name='password')
      br
      button(type='submit') Login
